/* styles.css */

/* تحسينات للجدول */
table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto; /* تباعد مناسب بين الجدول والعناصر الأخرى */
    background-color: rgba(255, 255, 255, 0.9); /* خلفية بيضاء شفافة */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ظل للجدول */
    border-radius: 10px; /* زوايا مستديرة */
    direction: rtl; /* ترتيب من اليمين إلى اليسار */
}

/* تحسينات للأزرار */
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease; /* تأثير تدرجي عند التحويل */
}

button:hover {
    background-color: #45a049;
}

/* تحسينات للنافذة المنبثقة */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    box